@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Lexend:wght@100..900&display=swap');

:root{ /* Global Variables */
    /*extant navbar background color: rgb(56,165,233)*/
    --navbar-background-color: rgb(40,40,161);
    --navbar-hover-color: rgb(251,180,216);
    --navbar-text-color: white;
    --flexbox-darker: rgb(167,226,249);
    --flexbox-lighter: rgb(251,225,96);

    --elevator-background-color: rgb(183, 234, 255);
    --elevator-border-color: rgb(81,81,246);

    --pricing-background-color: rgb(167,226,249);
    --pricing-border-color: rgb(81,81,246);
}
/* rgb(81,81,246); */

h1, h2, h3, h4, h5, h6, p{
    margin-left: 20px; 
    margin-right: 20px;
}

body{
    font-family: "Lexend", sans-serif;
    font-size: 100%;
}

h1, h2, h3, h4, h5{
    font-family: "Balsamiq Sans", serif;
    text-align: center;
}

h1{
    font-size: 2.3em;
}

h6{
    font-size: 1.1em;
    font-weight: normal;
}

#content-box{
    max-width: 1050px;
    margin: auto;
}

#title{
    font-size: 4em; /* 1em = current font size, 2em is twice as big, etc*/
}

#endnote{
    font-style: italic;
    font-size: 0.9em;
    color: var(--navbar-text-color);
    text-align: center;
}

footer{
    background-color: var(--navbar-background-color);
    padding: 2px;
}

#green-bean-ad {
    width: 100%;
}

iframe {
    display: block;
    margin: auto;
    width: 400px;
    height: 150px; 
    margin: 50px auto;
}

nav{
    ul{
        background-color: var(--navbar-background-color);
        list-style-type: none;
        margin: 0;
        padding: 5px;
    }
    
    li{
        margin: 0px 5px; /* margin with 2 values sets top&bottom and left&right*/
        padding: 5px;
        display: inline;
        a{
            color: var(--navbar-text-color);
        }
    }

    li:hover{
        background-color: var(--navbar-hover-color);
    }

}



/* Classes for Features section on landing page */
#features {

    padding: 0 10px; /* Horizontal padding to match testimonials */ 
    margin-top: 100px;

    h2 {
        text-align: center
    }

    /* Container for combined feature description and image */
    .feature {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        /*padding: 20px;
        border: 5px solid var(--flexbox-lighter);*/

        margin: 40px 20px;

    }

    .description {
        align-content: center;
        width: 66%;
    }

    .screenshot {
        object-fit: cover; /* Behavior when not enough room for full screenshot*/
        box-sizing: border-box;
        width: 33%; /* Screenshot takes up a third of the space */

        border: 5px solid var(--flexbox-lighter);
    }
}
.elevator{
    text-align:center;
    margin: 50px;
    margin-top: 0px;
    margin-bottom: 0px;

    p{
        font-style: italic;
    }
    .flex-el{
        margin: 10%;
        margin-top: 0px;
        margin-bottom: 0px;
        display:flex;
        justify-content: center;
        align-items: center;

        background-color: var(--elevator-background-color);
        border: 5px solid var(--elevator-border-color);

        div{
            margin:10px;
            flex-basis: 100%;
        }
        p{
            text-align: right;
            align-content: right;
        }
        img{
            align-content: left;
        }
    }
}

.flex-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    div{
        margin: 10px;
        flex-basis: 100%;
        background-color: var(--flexbox-darker);
    }
    p{
        font-style: italic;
    }
    .lighter-color{
        background-color: var(--flexbox-lighter);
    }
}

#pricing{
    display: flex;
    flex-direction: row;
    margin-bottom: 70px;

    .price{
        border: solid var(--pricing-border-color);

        text-align: left;
        background-color: var(--pricing-background-color);
        margin: 10px;
        flex-basis: 100%;

    }
}

/* Responsively converts flexbox into columns when screen size is less than 800px */
@media (max-width: 800px) {                    
    #content-box{
        margin: auto;
    }

    iframe {
        width: 400px;
        height: 150px; 
    }

    .flex-container {
      flex-direction: column;
      div{
        margin: 10px 8%;
      }
    }

    #features {
        .feature {
            flex-direction: column;
            .description{
                width: auto;
            }
            img{
                display: block;
                margin-right: auto;
                margin-left: auto;
                width: 60%;
            }
        }
    
        #middle-feature {
            flex-direction: column-reverse;
        }
    }

    .elevator {
        margin: 40px;
        margin-top: 0px;
        margin-bottom: 0px;
        .flex-el {
            flex-direction:column;

            p{
                text-align: center;
            }
        }
    }

    #pricing {
        flex-direction: column;
        text-align: center;
        margin-right: 20%;
        margin-left: 20%;
    }
    
}